.indexbg {
    background-image: url('images/backgroundmenu.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}


@media only screen and (max-width: 600px) {
    .spanHide1, .spanHide {
        display: none;
    }
}
@media only screen and (min-width: 991px) and (max-width: 1200px) {
    .spanHide {
        display: none;
    }
}
.backgroundIMG {
        background-image: url(~/Content/images/profile-cover.jpg);
        background-size: cover;
        background-position: center top;
 }
.LogoIMG {
    height: 65px !important;
}
@media only screen and (max-width: 1000px) {
    .LogoIMG {
        height: 8vw !important;
    }
}

@media only screen and (max-width: 500px) {
    .navbar-brand {
        width: 100%;
        margin-bottom: 15px !important;
        text-align:center;
    }
    .LogoIMG {
        
        height: 15vw !important;
        margin: auto;
    }
    .LoginLogo{
        margin: 50px 0 !important;

    }
}
.restuarantcover{
    height:70vh !important;
}
.itemWidth{
    width:75%
}
@media only screen and (max-width: 1024px) {
    .restuarantcover {
        height: 30vh !important;
    }
    .itemWidth{
        width:95%;
    }
}

@font-face {
    font-family: 'Endenesilia';
    src: url('Fonts/Endenesilia.ttf') format('truetype');
}

@font-face {
    font-family: AmericanTypewriter;
    src: url('/Content/Fonts/AmericanTypewriter.ttc');
}

@font-face {
    font-family: 'Amplify_PersonalUseOnly';
    src: url('Fonts/Amplify_PersonalUseOnly.ttf') format('truetype');
}

@font-face {
    font-family: 'ArtographieBlack-PERSONAL_USE';
    src: url('Fonts/ArtographieBlack-PERSONAL_USE.ttf') format('truetype');
}

