@using EgyptMenu.Views.Shared.Resources
@{
    Layout = null;
    if (HttpContext.Current.Session["lang"] != null)
    {
        Culture = UICulture = HttpContext.Current.Session["lang"].ToString();
    }
    else
    {
        Culture = UICulture = "en";
    }
}
<html lang=@Resource.language dir=@Resource.direction>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="apple-touch-icon" sizes="76x76" href="~/Content/images/apple-icon.png">
    <link rel="icon" type="image/png" href="~/Content/images/favicon.png">
    <meta name="csrf-token" content="PAS0AFs1bXdGZJleDqStDf2sYpGZhfhSRhJQTGzt">
    <meta property="og:image" content="~/Content/images/logo_qrzebra2.png">
    <script src="https://kit.fontawesome.com/459f34aff4.js" crossorigin="anonymous"></script>
    <title>QR Menu Maker</title>
    <meta name="theme-color" content="#000000">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="application-name" content="QR Menu Maker">
    <link rel="icon" sizes="256x256" href="android-chrome-256x256.png">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="QR Menu Maker">
    <link rel="apple-touch-icon" href="android-chrome-256x256.png">
    <link href="~/Content/images/icons/splash-640x1136.png" media="(device-width: 320px) and (device-height: 568px) and (-webkit-device-pixel-ratio: 2)" rel="apple-touch-startup-image" />
    <link href="~/Content/images/icons/splash-750x1334.png" media="(device-width: 375px) and (device-height: 667px) and (-webkit-device-pixel-ratio: 2)" rel="apple-touch-startup-image" />
    <link href="~/Content/images/icons/splash-1242x2208.png" media="(device-width: 621px) and (device-height: 1104px) and (-webkit-device-pixel-ratio: 3)" rel="apple-touch-startup-image" />
    <link href="~/Content/images/icons/splash-1125x2436.png" media="(device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3)" rel="apple-touch-startup-image" />
    <link href="~/Content/images/icons/splash-828x1792.png" media="(device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 2)" rel="apple-touch-startup-image" />
    <link href="~/Content/images/icons/splash-1242x2688.png" media="(device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 3)" rel="apple-touch-startup-image" />
    <link href="~/Content/images/icons/splash-1536x2048.png" media="(device-width: 768px) and (device-height: 1024px) and (-webkit-device-pixel-ratio: 2)" rel="apple-touch-startup-image" />
    <link href="~/Content/images/icons/splash-1668x2224.png" media="(device-width: 834px) and (device-height: 1112px) and (-webkit-device-pixel-ratio: 2)" rel="apple-touch-startup-image" />
    <link href="~/Content/images/icons/splash-1668x2388.png" media="(device-width: 834px) and (device-height: 1194px) and (-webkit-device-pixel-ratio: 2)" rel="apple-touch-startup-image" />
    <link href="~/Content/images/icons/splash-2048x2732.png" media="(device-width: 1024px) and (device-height: 1366px) and (-webkit-device-pixel-ratio: 2)" rel="apple-touch-startup-image" />
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="android-chrome-256x256.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    <link href="~/Content/nucleo.css" rel="stylesheet" />
    <link href="~/Content/front.min.css" rel="stylesheet" />
    <link href="~/Content/custom_qr.css" rel="stylesheet" />
    <link href="~/Content/front.css" rel="stylesheet" />
    <link href="~/Content/new-style99.css" rel="stylesheet" />
</head>
<body>
    <header class="header-global">
        <nav id="navbar-main" class="navbar navbar-main navbar-expand-lg headroom text-light" style="background-color: #19526e">
            <div class="container">
                <a class="navbar-brand logo_classes" href="/">
                    <img class="navbar-brand-dark LogoIMG" src="~/Content/images/logo_qrzebraH.png" alt="Logo">
                </a>
                <div class="navbar-collapse collapse px-5" id="navbar_global" style="background-color:#19526e ;@Resource.text_align">
                    <div class="navbar-collapse-header">
                        <div class="row">
                            <div class="col-10 collapse-brand p-0">
                                <a href="/">
                                    <img src="~/Content/images/logo_qrzebraH.png" style="height:75px" alt="Logo">
                                </a>
                            </div>
                            <div class="col-2 collapse-close ">
                                <a href="#navbar_global" role="button" class="fas fa-times" data-toggle="collapse"
                                   data-target="#navbar_global" aria-controls="navbar_global" aria-expanded="false"
                                   aria-label="Toggle navigation"></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class=" cta_button_classes">
                    @{Html.RenderPartial("_LoginPartial");}
                </div>
                <div class="d-flex d-lg-none align-items-center" style="margin:auto;">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar_global"
                            aria-controls="navbar_global" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                </div>
            </div>
        </nav>
    </header>
    <main>
        <section class="section-header pb-6 pb-lg-6 indexbg">
            <div class="container">
                <div class="row justify-content-between align-items-center">
                    <div class="col-12 col-md-5 order-2 order-lg-1" style="@Resource.text_align">
                        <h1 class="display-2 mb-3" style="color:#19526e;font-weight:900;">A Few Words About Us</h1>
                        <p class="lead" style="color:black; line-height:1.2; font-weight:500;">Team-I is an extension of the activity of Al-Ansi Office for Software development in the Federal Republic of Germany. He has been working in the Information technology area for more than 20 years, during which he worked and implemented many projects for the largest and most prestigious companies in the world.</p>
                        <div class="mt-4" style="line-height:1.2;">
                            <a class="btn my-1 " href="https://www.mercedes-benz.com/en/" style="width:48%; background-color:#ffa822;color:white;">mercedes-benz</a>
                            <a class="btn my-1 " href="https://www2.deloitte.com/global/en.html?icid=site_selector_global" style="width: 48%; background-color: #19526e; color: white;">deloitte</a>
                            <a class="btn my-1 " href="https://www.siemens.com/global/en.html" style="width: 48%; background-color: #19526e; color: white;">Siemens Corporation</a>
                            <a class="btn my-1 " href="https://theheineken-company.com/" style="width:48%; background-color:#ffa822;color:white;">Heineken Company</a>
                            <a class="btn my-1 " href="https://www.carlsbergmarstons.co.uk/" style="width:48%; background-color:#ffa822;color:white;">Carlsberg</a>
                            <a class="btn my-1 " href="https://www.gatx.eu/" style="width:48%; background-color:#19526e;color:white;">GATX Company</a>
                            <a class="btn my-1 " href="https://www.mtu.de/" style="width: 98%; background-color: #ffa822; color: white;">Company MTU Aero Engines Company</a>
                            <a class="btn my-1 " href="https://www.ega.ae/en" style="width: 98%; background-color: #19526e; color: white;">Dubai Aluminium Company</a>
                            <a class="btn my-1 " href="https://www.fiduciagad.de/startseite.html/" style="width: 98%; background-color: #ffa822; color: white;">Fiducia GAD Company</a>
                            <a class="btn my-1 " href="https://www.boehringer-ingelheim.com/" style="width: 98%; background-color: #19526e; color: white;">Boehringer Ingelheim Company</a>
                        </div>
                        @*<p class="lead" style="color:black; line-height:1.2; font-weight:500;">Al-Ansi office aspires by opening a branch for programming and advertising services to transfer German and European technology to the Egyptian market, through the application of the highest programming and advertising systems, with professionalism and skill commensurate with the great experience gained from working on global projects for previous companies in each of : </p>
                            <h2>Team i your way to the success</h2>*@
                    </div>
                    <div class="col-12 col-md-6 order-1 order-lg-2 py-3">
                        <img src="~/Content/images/TEam-i.png" style="width:100%" />
                    </div>
                </div>
            </div>
            <div class="container my-5">
                <div class="row justify-content-between align-items-center">
                    <div class="col-12 " style="@Resource.text_align">
                        <p class="lead" style="color:black; line-height:1.2; font-weight:500;">Al-Ansi office aspires by opening a branch for programming and advertising services to transfer German and European technology to the Egyptian market, through the application of the highest programming and advertising systems, with professionalism and skill commensurate with the great experience gained from working on global projects for previous companies in each of the following countries .</p>
                        <h3>
                            Germany, France, Canada, USA, Caribbean islands, Denmark, Switzerland, Dubai
                        </h3><br /><br />
                        <h2 class="text-center font-weight-bolder" style="color:#19526e;">Team i your way to the success</h2>
                    </div>
                </div>
            </div>
            
        </section>
        <div class="row footer section  py-5  text-white overflow-hidden" style="background-color:#19526e;">
            <div class="col-12 col-lg-4 text-center">
                <p style="text-align: center;">
                    Gamal Abd Al Nassir Axis,<br>
                    6th of October City,<br>
                    Egypt
                </p>
                <a href="https://www.google.com.eg/maps/place/Team+I+Group/29.9785425,30.9278417,17.54z/data=!4m5!3m4!1s0x0:0x501e33d8eafe8773!8m2!3d29.9790529!4d30.9281073?hl=en&authuser=0" target="_blank" class="btn btn-rounded btn-dark" style="background-color: #000000; color: #ffffff;"><b class="font-weight-normal">Go to Location <i class="fas fa-map-marker-alt"></i></b></a>
            </div>
            <div class="col-12 col-lg-4">
                <p style="text-align: center;">
                    Saturday - Thursday<br>
                    10:00 AM — 05:00 PM
                </p>
                <p style="font-size: 30px; text-align: center;">
                    <a href="https://www.facebook.com/teamigroup/" target="_blank" rel="noopener noreferrer"><i class="fab fa-facebook-square"></i></a>
                    <a href="https://www.linkedin.com/company/team-i-group/" target="_blank" rel="noopener noreferrer"><i class="fab fa-linkedin"></i></a>
                </p>
            </div>
            <div class="col-12 col-lg-4">
                <h5 style="text-align: center;"><i class="fas fa-mobile-alt"></i>&nbsp; &nbsp;<a href="tel:(002) 0238265078">0238265078</a></h5>
                <h5 style="text-align: center;"><i class="fas fa-envelope"></i>&nbsp; &nbsp;<a href="mailto:info@teamigroup.com">info@teamigroup.com</a></h5>
            </div>
        </div>

        <!-- Footer -->
        <footer class="footer section  py-4  text-white overflow-hidden" style="background-color:#19526e;">
            <div class="container">
                <div class="row">
                    <div class="col  mb-md-0">
                        <div class="d-flex text-center justify-content-center align-items-center">
                            <p class="font-weight-normal mb-0"> @Resource.All_rights_reserved <span class="current-year"></span>  © Team I Group </p>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </main>
    <!-- Core -->
    <script src="~/Content/JS/jquery.min.js"></script>
    <script src="~/Content/JS/popper.min.js"></script>
    <script src="~/Content/JS/bootstrap.min.js"></script>
    <script src="~/Content/JS/headroom.min.js"></script>
    <!-- Vendor JS -->
    <script src="~/Content/JS/on-screen.umd.min.js"></script>
    <script src="~/Content/JS/smooth-scroll.polyfills.min.js"></script>
    <script src="~/Content/JS/jquery.waypoints.min.js"></script>
    <script src="~/Content/JS/jarallax.min.js"></script>
    <!-- Place this tag in your head or just before your close body tag. -->
    @*<script async defer src="https://buttons.github.io/buttons.js"></script>*@
    <!-- Impact JS -->
    <script src="~/Content/JS/front.js"></script>
    <!-- Custom JS defined by admin -->
</body>
</html>